div {
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}

.navbar-header {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
    font-size: 26px;
    padding: 5px 0 0 0;
}
.jumbotron {
    top:70px;
    position: relative;
}
.table-data {
    margin: 50px 0 0 0;
}
.table-data ul li {
    list-style: none;
    text-align: center;
    border: lightgrey 1px solid;
}
img {
    max-width: 100%;
    height: auto;
}
.b-pad {
  margin-bottom: 95px;
}


    
